.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.tag-btn {
    background-color: #42bcf4;
    border-radius: 8px;
    width: 100px;
    text-align: left;
}

button, i {
  text-align: right;
}

.tscriptTrue {
  color: #033077;
}

.tscriptFalse {
  color: #cccccc;
}

.center-column {
  text-align: center;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.error-warning {
  color: red;
}

.case-user {
  text-align: right;
}

.loginform {
  width: 80px;
  text-align: left;
}

.logininput {
  width: 200;
}

.loginbtn {
  width: 250px;
  text-align: center;
  border-radius: 3px;
  background: #f15a24;
  border-style: none;
  margin: 5px;
  color: white;
}

.centered {
  text-align: center;
}

.navbar-brand {
  padding: 5px;
  margin-right: 10px
}

.case-mess {
  border: 2px solid gray;
  width: 95%;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}

#all-messages {
  overflow: scroll;
  height:500px;
}

/*body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url('../film_bg.jpg');
  background-repeat: no-repeat;
}*/