.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.tag-btn {
    background-color: #42bcf4;
    border-radius: 8px;
    width: 100px;
    text-align: left;
}

button, i {
  text-align: right;
}

.tscriptTrue {
  color: #033077;
}

.tscriptFalse {
  color: #cccccc;
}

.center-column {
  text-align: center;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.error-warning {
  color: red;
}

.case-user {
  text-align: right;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url('../film_bg.jpg');
  background-repeat: no-repeat;
}