a {
  color: #7f9cc8;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

p, span, button, label, table {
  font-family: 'Muli', sans-serif;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.tag-btn {
    background-color: #efefef;
    border-radius: 6px;
    width: 100px;
    text-align: left;
    border-style: none;
    margin: 3px;
}

.tag-close {
  vertical-align: top;
  font-size: 14px;
  opacity: 0;
}

.tag-btn:hover > .tag-close{
  opacity: .2;
}

.gray-btn {
  background-color: #7f7f7f;
  text-align: center;
  border-radius: 3px;
  border-style: none;
  margin: 5px;
  color: white;
  width: 100%;
}

.blue-btn {
  background-color: #7f9cc8;
  text-align: center;
  border-radius: 3px;
  border-style: none;
  margin: 5px;
  color: white;
  width: 100%;
}

.clear-btn {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.small-btn {
  width: 75px;
}

.med-btn {
  width: 150px;
}

.lg-btn {
  width: 250px;
}

.case-name, .case-name a{
  color: #f15a24;
  /*color: #7f7f7f;*/
  display: inline;
}

.case-banner {
  /*background-color: #ebebeb;*/
  margin-left: -15px;
/*  margin-top: -15px;*/
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% + 30px);
  display: block;
  text-align: left;
}

.case-gear {
  float: right;
  vertical-align: middle;
  display: inline;
  color: #7f7f7f;
  padding: 1px;
  margin-right: 5px;
}

.vidclip-handler {
  display: inline;
  fill: #7f7f7f;
  height: 30px;
  margin-top: 10px;
}
/*button i {
  text-align: right;
}*/

.tscriptTrue {
  color: #033077;
}

.tscriptFalse {
  color: #cccccc;
}

.center-column {
  text-align: center;
}

.settings-input {
  width: 100%;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.error-warning {
  color: red;
}

.case-user {
  text-align: right;
}

.loginform {
  text-align: left;
  margin-top: 10px;
}


.logininput {
  padding: 8px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 30%;
}

.loginbtn {
  width: 250px;
  text-align: center;
  border-radius: 3px;
  background: #f15a24;
  border-style: none;
  margin: 5px;
  color: white;
}

.centered {
  text-align: center;
}

.navbar-brand {
  padding: 5px;
  margin-right: 10px
}

.case-mess {
  border: 2px solid gray;
  width: 99%;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}

#all-messages {
  overflow: scroll;
  height:500px;
}

body {
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
}

#container {
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin: 15px;
/*  margin-left: auto;
  margin-right: auto;*/
  box-shadow: 0 0 3px #212121;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 4px #212121;
  padding: 0;
  border-radius: 0;
  border: 0;
}

.accent-bar {
  /*tfp orange*/
  background-color: #f15a24; 
  height: 3px;
  width: calc(100% + 30px);
  margin-left: -15px;
}

#table-search, .right-btn {
  float: right;
  width: 200px;
  margin-top: 10px;
}

/*tooltip css created using http://www.cssportal.com/css-tooltip-generator/*/
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #212121;
  background: #D1D1D1;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #D1D1D1;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  bottom: 45px;
  left: 58%;
  margin-left: -76px;
  z-index: 999;
}

html {
  height: 100%;
}

#login {
  width: 200px;
}

#film-reel {
  background-image: url('../film7.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}