<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock%}</title>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script src="https://code.jquery.com/jquery.js"></script>

<link href="https://fonts.googleapis.com/css?family=Muli|Oswald" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://use.fontawesome.com/d24120a7b5.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/vidtrim_style.css') }}">

{% block addToHead %}{% endblock %}

</head>

<body>
  {% if g.current_user %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img height='100%' src="{{ url_for('static', filename='logo_icon_only.png') }}"></a>
          <a class="navbar-brand" href="#"><img height='100%' src="{{ url_for('static', filename='logo_text_only.png') }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cases<span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><a href="/cases">All Cases</a></li>
                {% for case in g.user_cases %}
                    <li role="separator" class="divider"></li>
                    <li><a href = {{ url_for('show_case_vids', case_id= case.case_id) }}>{{ case.case_name }}</a></li>
                  {% endfor %}
              </ul>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href='/user-settings'>Logged in as: {{ g.current_user.fname }} {{ g.current_user.lname }}</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
      <div class='accent-bar'></div>
    </nav>
{% endif %}

<div class="container-fluid" id='container'>
    {% block content %} 
      put your content here 
    {% endblock %}
</div>  
    <script>
      //used for the log in/out button
      inOutBtn = $('#login-btn')
      inOutBtn.on('click', function () {
          console.log(inOutBtn.html())
          if (inOutBtn.html().indexOf("In") !== -1) {
              window.location.href = '/';
          }
          else{
              window.location.href = '/logout';
          }
      });
    </script>

    <script>
      function changeCase(evt) {
        var new_case = $('#case-selector').val();
        var new_url;
        if (new_case === "All"){
          console.log("All")
          new_url = '/cases';
        }
        else{
          new_url = '/cases/' + new_case;
        }
        window.location.href = new_url;
      }

      $('#case-selector').on('change', changeCase);
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
