<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock%}</title>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script src="https://code.jquery.com/jquery.js"></script>

{% block addToHead %}{% endblock %}

</head>

<body>
  {% if g.current_user %}
    Logged in as: {{ g.current_user.fname }} {{ g.current_user.lname }} 
    <button id='login-btn'>Log Out</button>
  {% else %}
    <br/>
    <button id='login-btn'>Log In</button>
  {% endif %}
  <!-- <a href='/cases'>Cases</a> -->
  <select name='case' id='case-selector'>
    {% for case in g.user_cases %}
      <option value={{ case.case_id }}>{{ case.case_name }}</option>
    {% endfor %}
  </select>
  <hr>

    {% block content %} put your content here {% endblock %}
    
    <script>
      //used for the log in/out button
      inOutBtn = $('#login-btn')
      inOutBtn.on('click', function () {
          console.log(inOutBtn.html())
          if (inOutBtn.html().indexOf("In") !== -1) {
              window.location.href = '/';
          }
          else{
              window.location.href = '/logout';
          }
      });
    </script>

    <script>
      function changeCase(evt) {
        var new_case = $('#case-selector').val();
        var new_url = '/cases/' + new_case;
        window.location.href = new_url;
      }

      $('#case-selector').on('change', changeCase);
    </script>
</body>
