{% extends 'base.html' %}
{% block title %}Case List{% endblock %}

{% block content %}
<h1>Case name: {{ case.case_name }}</h1>
<a href="/upload-video?case_id={{ case.case_id }}"><button>Upload a new video</button></a>
<table>
    <tr>
    <th>Video name</th>
    </tr>
    {% for video in videos %}
    <tr>
        <!--case name-->
        <!--<td><a href = 'trim-video/{{ video[0] }}'>{{ video[1] }}</a></td>-->
        <td><a href = '/show-video/{{ video[2] }}' target='_blank'>{{ video[1] }}</td></a>
        <td><a href = '/trim-video/{{ video[2] }}'>Trim new clips</a></td>
        <td><a href = '/see-clips/{{ video[2] }}'>See existing clips</a></td>
    </tr>
    {% endfor %}
</table>
    

{% endblock %}