{% extends 'base.html' %}
{% block title %}Case List{% endblock %}

{% block addToHead %}
    <script>var typeOfVid = "video"</script>
{% endblock %}

{% block content %}
<h1>{{ case.case_name }}</h1>
<p><a href='/case-settings/{{ case.case_id}}'>Case Dashboard</a></p>
<a href="/upload-video?case_id={{ case.case_id }}"><button>Upload a new video</button></a>
<button type="button" id='downloadClips' value="Download">Download Videos</button>
<button type="button" id='deleteClips' value="Delete">Delete Videos</button>
<input type="text" id="table-search" onkeyup="filterTable(5)" placeholder="Search...">
<table data-toggle="table" class="table table-sortable" id="clip-table">
    <thead>
        <tr>
            <th><input type='checkbox' id="select-all"></th>
            <th onclick="sortTable(1)">Deponent 
                <span class='glyphicon glyphicon-sort'></span></th>
            <th onclick="sortTable(2)">Date recorded 
                <span class='glyphicon glyphicon-sort'></span></th>
            <th onclick="sortTable(3)">Video name
                <span class='glyphicon glyphicon-sort'></span></th>
            <th onclick="sortTable(4)">Status
                <span class='glyphicon glyphicon-sort'></span></th>
            <th onclick="sortTable(5)" class='center-column'>Transcript?
                <span class='glyphicon glyphicon-sort'></span></th>
            <th class='center-column'>Trim new</th>
            <th class='center-column'>See existing</th>

        </tr>
    </thead>
    {% for video in videos %}
    <tbody>
        <tr>
            <!--case name-->
            <!--video comes in tuples (video[0] = vid_name, video[1] = vid_id, video[2] = vid_status)-->
            <td><input type='checkbox' class='vidcheck' value={{ video.vid_id }}></td>
            <td>{{ video.deponent }}</td>
            <td>{{ video.recorded_at }}</td>
            <td><a value='{{ video.vid_name }}' href = '/show-video/{{ video.vid_id }}' target='_blank'>{{ video.vid_name }}</a></td>
            <td>{% if video.vid_status == 'Processing' %}
                <span class='clip-processing' id='{{video.vid_id}}_Status'>
                    {{ video.vid_status }}
                </span>
            {% else %}
                {{ video.vid_status }}
            {% endif %}
            </td>
            <td class='center-column'>
                {% if video.transcript %}
                    <i class="fa fa-file-text tscriptTrue" aria-hidden="true" id='{{ video.vid_id }}'></i>
                {% else %}
                    <i class="fa fa-file-text tscriptFalse" aria-hidden="true" id='{{ video.vid_id }}'></i>
                {% endif %}
            </td>
            <td class='center-column'><a href = '/trim-video/{{ video.vid_id }}'><i class="fa fa-scissors" aria-hidden="true"></i></a></td>
            <td class='center-column'><a href = '/clips/{{ video.vid_id }}'>
                <i class="fa fa-film" aria-hidden="true"></i> 
                <i class="fa fa-search" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--JS-->
<!--Table sort-->
<script src="{{ url_for('static', filename='js/table_sort.js') }}"></script>

<!--Socket IO -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src='../static/js/sockets.js'></script>

<!--Collecting checked videos/clips-->
<script src="{{ url_for('static', filename='js/collectChecks.js') }}"></script>
<script src="{{ url_for('static', filename='js/getCurrTime.js') }}"></script>

<!--Transcript upload/removal-->
<script src="{{ url_for('static', filename='js/transcript.js') }}"
{% endblock %}