{% extends 'base.html' %}
{% block title %}Case Settings{% endblock %}

{% block addToHead %}
<script>
    var currUser = {{g.current_user.user_id}};
    var currCaseID = {{ case.case_id }}
</script>{% endblock %}

{% block content %}
<div class='case-banner'>
    <h1 class='case-name'><a href = "../cases/{{ case.case_id }}">{{ case.case_name }}</a></h1>
</div>
<div class='accent-bar'></div>

<div id='alerts'><div class="alert alert-success alert-dismissable" id="success-message"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong> Your request has been sent.</div></div>

<div>
    <h2>Tags</h2>
    
    <table id='tags-table' class="table">
        {% for tag in tags %}
            <tr id="Tag_{{ tag.tag_id }}">
                {% if tag.case_id == case.case_id|int %}
                    <td><button type="button" id={{ tag.tag_id }} class="close remove-tag-x" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></td>
                {% else %}
                    <td></td>
                {% endif %}
                <!--case name-->
                <td><strong>{{ tag.tag_name }}: ({{ tag_counts[tag.tag_name] }})</strong></td>
                <td>
                    <button class="tag-download gray-btn" type="button" id='downloadClips' value='{{ tag.matching_clips }}'>
                        <span>
                        Download {{ tag.tag_name }} clips</span>
                    </button>
                </td>
                <td>
                    <button class="tag-download blue-btn" type="button" id='createDeck' value='{{ tag.matching_clips }}'>
                        <span>
                        Create {{ tag.tag_name }} Deck</span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>


    <textarea id="new_tags_input" placeholder="Mock Trial, Appeal, Arbitration" class='settings-input'></textarea></br>
    <button id='add_tags' class='gray-btn med-btn right-btn'>Add tags</button>

    <h2>Users</h2>
    <table id='user-table' class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        
        {% for user in users %}
        <tr id="User_{{ user.user_id }}">
            {% if user.user_id == owner.user_id %}
                <td class='case-user'><span class='glyphicon glyphicon-star'></span></td>
            {% else %}
                <td class='case-user'><button type="button" id={{ user.user_id }} class="remove-user-x close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button></td>
            {% endif %}
            <!--case name-->
            <td>{{ user.fname }} {{ user.lname }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    
    </table>
        
    <p><span class='glyphicon glyphicon-star'></span> denotes case owner</p>
    
    <textarea id="new_users_input" class='settings-input' placeholder="JaneD@email.com, JohnD@email.com"></textarea></br>
    <button id='add_users' class='gray-btn med-btn right-btn'>Add users</button>

</div>

<!--alert box-->
<script src="{{url_for ('static', filename='js/showAlert.js') }}"></script>
<script>
    $('#alerts').hide();
    var successAlert = '<div class="alert alert-success alert-dismissable fade in" id="success-message"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong> Your request has been sent.</div>'
</script>

<!--SOCKET IO CHAT-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src='../static/js/sockets.js'></script>
<script src='../static/js/socketMessage.js'></script>

<!--Get a current time stamp for file naming-->
<script src='../static/js/getCurrTime.js'></script>
<!--adding/removing tags/downloading clips by tag-->
<script src='../static/js/tags.js'></script>
<!--Adding/deleting users-->
<script src='../static/js/caseUsers.js'></script>

{% endblock %}