{% extends 'base.html' %}
{% block title %}Create New Clips{% endblock %}
{% block addToHead %}
    <link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Please provide the following information:</h1>
    <h3>Clips are coming from: {{ orig_vid }}</h3>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
        <source src="{{ vid_url }}" type='video/mp4'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
    <br/>
    <form action="/make-clips" method="POST" id='clip_info'>
        <input type='radio' name='trim_method' value='time' checked>Using timecodes (HH:MM:SS-HH:MM:SS)<br/>
        {% if has_transcript %}
        <input type='radio' name='trim_method' value='page' checked>Using Page and Line numbers (PP:LL-PP:LL)
        {% endif %}
        <br/><br/>
        <input type='hidden' name="vid_id" value={{ vid_id }}>
        <textarea name="clip-list" form="clip_info" cols = 60 placeholder="Page Line: 13:16-14:8 OR Timecode:00:18:04-00:22:20, 01:06:12-01:12:12" required></textarea></br>
        <input class='gray-btn med-btn' type='submit' value="Create Clips">
    </form>
    <!--script for video player-->
    <script src="http://vjs.zencdn.net/6.2.4/video.js"></script>

{% endblock %}