{% extends 'base.html' %}
{% block title %}Upload a New Video{% endblock %}
{% block addToHead %}
	<script src="/static/js/upload.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}

<!-- <form method=POST enctype=multipart/form-data id='vid-upload'>
    <input type="text" name="name" id="name" placeholder="Jane Doe"><br/>
    <input type="date" name="date-taken" id="date-taken"><br/>
    <input type=file id="media" name=media>
    <input type="submit">
</form> -->
{% block content %}
<form enctype="multipart/form-data" method="POST" id='vid-upload'>
    <input type="text" name="name" id="name" placeholder="Jane Doe"><br/>
    <input type="date" name="date-taken" id="date-taken"><br/>
    Video file:<input type="file" name='rawvid' id='media' required><br/>
    Transcript (txt format): <input type="file" name='tscript' id='tscript'><br/>
    <!-- Text Transcript:<input type="file" name='tscript' id='tscript'></br> -->
    <input type="hidden" name='case_id' id='case_id' value={{ case_id }}>
    <input type="submit" value='Upload'>
</form>

<div class="progress">
  <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div>

</div>
{% endblock %}