{% extends 'base.html' %}

{% block title %}
    User Settings: {{ user.fname }} {{ user.lname }}
{% endblock %}

{% block addToHead %}
<script>var userID = {{ user.user_id }}</script>
{% endblock %}

{% block content %}

<div id='alerts'><div class="alert alert-success alert-dismissable" id="success-message"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong> Your information has been updated.</div></div>

<button id="edit-settings"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Settings</button></br>
<form id="user-settings" method="POST">
    Name: <span id='fname' class='is-editable'>{{ user.fname }}</span>
          <span id='lname' class='is-editable'>{{ user.lname }}</span></br>
    Email: <span id='email' class='is-editable'>{{ user.email }}</span></br>
    Password: <span id='pass' class='is-editable'>*****</span>
    <input id="submit-btn" type='submit' value="Update Settings">
</form>

<script>

$('#alerts').hide()
$('#submit-btn').hide()

    function showAlert() {
        $("#alerts").show();
        setTimeout(function () {
           $("#alerts").fadeOut()
            }, 3000);
    }

</script>


<script src="{{ url_for('static', filename='js/userSettings.js') }}"></script>
{% endblock %}