{% extends 'base.html' %}
{% block title %}Case List{% endblock %}

{% block content %}
<h1>Video source: {{ main_vid.vid_name }}</h1>
<table>
    <tr>
    <th><input type='checkbox' id="select-all"></th>
    <th>Clip name</th>
    <th>Start</th>
    <th>End</th>
    <th>Created by<th>
    </tr>
    {% for clip in clips %}
    <tr>
        <td><input type='checkbox' name={{ clip.clip_id }}>
        <td><a href = '/show-clip/{{ clip.clip_id }}' target='_blank'>{{ clip.clip_name }}</td></a>
        <td>{{ clip.start_at }}</td>
        <td>{{ clip.end_at }}</td>
        <td>Name here</td>
    </tr>
    {% endfor %}
</table>
    

{% endblock %}