{% extends 'base.html' %}
{% block title %}Case List{% endblock %}

{% block addToHead %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
{% endblock %}

{% block content %}
<h1>Case: <a href = "../cases/{{ main_vid.case.case_id }}">{{ main_vid.case.case_name }}</a>
<h1>Video source: {{ main_vid.vid_name }}</h1>
<a href="/show-video/{{ main_vid.vid_id }}" target='_blank'><button>Show video</button></a>
<a href="/trim-video/{{ main_vid.vid_id }}"><button>Trim new clips</button></a>
<table data-toggle="table" class="table table-sortable">
    <tr>
        <th><input type='checkbox' id="select-all"></th>
        <th>Clip name</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Created by<th>
        <th>Tags</th>
    </tr>
    {% for clip in clips %}
    <tr>
        <td><input type='checkbox' class='vidcheck' value={{ clip.clip_id }}></td>
        <td><a href = '/show-clip/{{ clip.clip_id }}' target='_blank'>{{ clip.clip_name }}</td></a>
        <td>{{ clip.start_at }}</td>
        <td>{{ clip.end_at }}</td>
        <td>{{ clip.clip_status }}</td>
        <td>{{ clip.user.fname }} {{ clip.user.lname }}</td>
        <td id='tagtd_{{ clip.clip_id }}'>
            {% for ct in clip.clip_tags %}
                {{ ct.tag.tag_name }}
            {% endfor %}
        </td>
        <td><select id='sel_{{ clip.clip_id }}'>
                <option value="None">Select tag</option>
                {% for tag in tags %}
                  <option value="{{ tag.tag_name }}">{{ tag.tag_name }}</option>
                {% endfor %}
            </select>
        </td>
        <td><button class='casetag' id='{{ clip.clip_id }}'>Add</button></td>
    </tr>
    {% endfor %}
</table>
<button type="button" id='stitchClips' value="Stitch">Combine and Download Clips</button>
<button type="button" id='downloadClips' value="Download">Download Clips</button>
<button type="button" id='deleteClips' value="Delete">Delete Clips</button>
    
<script>
function collect_checked_vids(evt){

    //get an array of all the checked clips
    var checked_vids = $('.vidcheck:checkbox:checked')
    var vidsToDL = [];
    for(var i = 0; i < checked_vids.length; i++){
        console.log(checked_vids[i].value)
        vidsToDL.push(checked_vids[i].value)
    }
    vids = vidsToDL.toString();
    console.log(vids)
    var formInputs = {
        'clips': vids,
        'vid_id': {{ main_vid.vid_id }},
        'call_func': evt.currentTarget.id
    }

    var all_cboxes = $('.vidcheck:checkbox')
    all_cboxes.prop('checked', false);

    if (evt.currentTarget.id == 'stitchClips') {
        console.log("stitch")
        //send direction to server
        //download function called from the handle-clips route
        $.post('/handle-clips', formInputs, function() {
        console.log('request complete')
        location.reload();
        });
    }
    else if (evt.currentTarget.id == 'downloadClips') {
        console.log("download")
        //send direction to server
        //download function called from the handle-clips route
        $.post('/handle-clips', formInputs, function() {
        console.log('request complete')
        location.reload();
        });
    }
    else if (evt.currentTarget.id == 'deleteClips') {
        console.log("delete")
        var confirm_delete = confirm('Are you sure you want to delete '+checked_vids.length+' clips?\nThis action cannot be undone.');
        //send direction to server
        //delete function called from the handle-clips route
        if (confirm_delete == true)
            $.post('/handle-clips', formInputs, function() {
                console.log('request complete')
                location.reload();
            });
    }
}

function toggleChecks(evt) {
    var status = evt.currentTarget.checked
    console.log(status)
    var all_cboxes = $('.vidcheck:checkbox')
    if (status == true) {
        console.log("if")
        all_cboxes.prop('checked', true);
    }
    else {
        console.log("else")
        all_cboxes.prop('checked', false);
    }

}

$('#stitchClips').on('click', collect_checked_vids)
$('#downloadClips').on('click', collect_checked_vids)
$('#deleteClips').on('click', collect_checked_vids)
$('#select-all').on('change', toggleChecks)


</script>

<script>
    function addTags(evt){
        var clipIdTarget = evt.currentTarget.id;
        var selTarget = '#sel_' + clipIdTarget;
        var tdTarget = '#tagtd_' + clipIdTarget;
        var selectedTag = 
        tagInputs = {
            'clip_id': clipIdTarget,
            'tag': $(selTarget).val()
        };
        $.post('/add-cliptags', tagInputs, function (results) {
            console.log(results)
            $(tdTarget).append(results)
        })

    }
    $(".casetag").on('click', addTags)
</script>
{% endblock %}